extends ../layout/index

block contenido
    div(class="py-10")
        h1(class="text-4xl my-10 font-extrabold text-center") Bienes
            span(class="font-normal") Raíces
        h2(class="text-center text-2xl font-extrabold")= pagina

        div(class="mt-8 mx-auto max-w-md")
            div(class="bg-white py-8 px-4 shadow")
                form(class="flex flex-col gap-3")
                    div 
                        label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="email") Tu Email 
                        input(class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" id="email" placeholder="Tu email" type="email" name="email")
                    div 
                        label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="password") Tu Password
                        input(class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" id="password" placeholder="Tu password" type="password" name="password")
                    div(class="flex items-center justify-between")
                        a(href="/auth/registro" class="text-gray-500 text-xs") ¿No tienes cuenta? Crea una
                        a(href="/auth/olvide-password" class="text-gray-500 text-xs") Olvidé mi password

                    input(type="submit" value="Iniciar Sesión" class="w-full bg-indigo-600 hover:bg-indigo-800 transition-colors duration-700 cursor-pointer text-white font-bold py-3")